body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#EED658, endColorstr=#EC3487)"; /* IE 8-9 */
  background: -webkit-linear-gradient(to top left, #EC3986, #EED159); /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background: -moz-linear-gradient(to top left, #EC3986, #EED159); /* Firefox 3.6-15 */
  background: -o-linear-gradient(to top left, #EC3986, #EED159); /* Opera 11.1-12 */
  background: linear-gradient(to top left, #EC3986, #EED159); /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
}

/* Подключение шрифтов */

@font-face {
  font-family: 'Antipasto';
  src: url('../fonts/AntipastoPro-DemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../fonts/SF Pro Text Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../fonts/SF Pro Text Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../fonts/SF Pro Text Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Настройка основного контейнера */

.container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Шапка и меню навигации */

ul {
  text-decoration: none;
  list-style: none;
  font-family: 'Antipasto', sans-serif;
  font-size: 1.25em;
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.header-links {
  color: #fff;
}

.menu-main {
  width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.navbar-logo {
  width: 100px;
  display: flex;
  flex-flow: column;
}

.logo-text {
  font-size: 1.6em;
}

.list-link {
  padding: 8px;
}

.list-link:after {
  display: block;
  content: "";
  width: 0%;
  background-color: #fff;
  height: 3px;
  border-radius: 3px;
  transition: 0.4s cubic-bezier(1,-0.01,0,1);
}

.list-link:hover:after,
.list-link:focus:after {
    width: 100%;
}

/* Текст на главной странице */

.middle {
  flex-direction: column;
}

.body-text {
  margin: 100px auto;
}

.body-text-item {
  font-family: 'SF Pro', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  padding-top: 50px;
  margin: 0;
}

.body-text-item:nth-last-child(4) {
  padding-top: 0px;
}

.big-text {
  font-family: 'Antipasto', sans-serif;
  font-size: 30px;
  color: white;
  margin-bottom: 40px;
  margin-top: 0px;
  padding: 0;
}

.big-text-second {
  margin-top: 40px;
}

.btn-desktop {
  padding: 16px 80px 15px;
  font-family: 'Antipasto', sans-serif;
  font-size: 1.25em;
  border-radius: 24px;
}

.btn-desktop-white {
  background-color: white;
  color: #ED7973;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.16);
}

.btn-desktop:hover {
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.3);
}
